<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">FruitShop</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="index.php">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="shop.php">Shop</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="status.php">Status</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="testimonial.php">Testimonials</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="voting.php">Fruit Voting</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="almanac.php">Fruit Almanac</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="action_logout.php">Logout ({{ loggedInUser["full_name"] }})</a>
        </li>
    </ul>
</nav>